.small-ticket .ticket-card {
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  font-size: 0.7rem;
  
}

.small-ticket .ticket-img {
  flex: 0 0 100px;
  border-radius: 1rem 0 0 1rem;
}

.small-ticket .ticket-img img {
  object-fit: cover;
}

.small-ticket .logo-overlay {
  max-height: 30px;
  max-width: 30px;
  bottom: 5px;
  left: 5px;
}

.small-ticket .ticket-info {
  padding: 0.8rem;
}

.small-ticket .ticket-info h5 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.small-ticket .ticket-info p {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.small-ticket .ticket-qr {
  flex: 0 0 60px;
  padding: 0.4rem;
}

.small-ticket .ticket-qr img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.small-ticket .ticket-barcode {
  width: 30px;
  padding: 2px;
}

.small-ticket .barcode-vertical {
  max-height: 80px;
}

.small-ticket .ticket-card::before,
.small-ticket .ticket-card::after {
  width: 20px;
  height: 40px;
  left: -10px;
  right: -10px;
}


