@media print {

  body * {
    visibility: hidden;
  }
  
  #resumenCompra {
  display: none !important;
}

  #contenidoReal,
  #contenidoReal * {
    visibility: visible;
  }

  #contenidoReal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #contenidoReal.no-print {
    display: none !important;
  }

}
