<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="/logo/entradas.png">

<title>Base</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>

<body>

	<div th:replace="_plantilla :: cabecera"></div>
	<div th:replace="_plantilla :: menu"></div>

	<main>
		<section>
			
		</section>
	</main>

	<div th:replace="_plantilla :: pie"></div>

	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
